@{
    ViewBag.Title = "Contact";
}
<title>RENT A CAR - Contact Page</title>
<div id="main">
    <div class="inner">
        <h1>Contact Us</h1>
        <span class="image main"><img src="~/images/map.jpg" alt="" /></span>
        <p>If you have some questions don't hesitate to contact us in bellow form.</p>
    </div>
</div>
