
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>Oferte Econom</h1>

                <div class="image main">
                    <img src="~/images/econom.jpg" />
                </div>

                <!-- Offers -->
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="~/images/prius.jpg" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Toyota Prius</h2>

                            <p>Pretul de la: <strong> $ 70.00</strong></p>

                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="~/images/tcorolla.jpg" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Toyota Corolla</h2>

                            <p>Pretul de la: <strong> $ 90.00</strong></p>

                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="~/images/ford_fiesta.jpg" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Ford Fiesta</h2>

                            <p>Pretul de la: <strong> $ 80</strong></p>

                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>

                    <article class="style4">
                        <span class="image">
                            <img src="~/images/chevrolete_bolt.jpg" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Chevrolete Bolt</h2>

                            <p>Pretul de la: <strong> $ 85</strong></p>
                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>

                    <article class="style5">
                        <span class="image">
                            <img src="~/images/BMWi3.jpg"/>
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>BMW i3</h2>

                            <p>Pretul de la: <strong> $ 75</strong></p>

                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>

                    <article class="style6">
                        <span class="image">
                            <img src="~/images/ford_cmax.jpg" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Ford C-Max</h2>

                            <p>Pretul de la: <strong> $ 90</strong></p>

                            <div class="content">
                                <p>O masina economa pentru fiecare zi</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Book now</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Your Name" />
                            </div>

                            <div class="field half">
                                <select name="vehicle-type" id="vehicle-type">
                                    <option value="">Select Offer A</option>
                                    <option value="">Select Offer B</option>
                                    <option value="">Select Offer C</option>
                                    <option value="">Select Offer D</option>
                                </select>
                            </div>

                            <div class="field half">
                                <input type="text" name="date-from" id="date-from" placeholder="Pick-up date/time" />
                            </div>

                            <div class="field half">
                                <input type="text" name="date-to" id="date-to" placeholder="Return date/tiem" />
                            </div>

                            <div class="field half">
                                <input type="text" name="email" id="email" placeholder="Email" />
                            </div>

                            <div class="field half">
                                <input type="text" name="phone" id="phone" placeholder="Phone" />
                            </div>

                            <div class="field">
                                <textarea name="message" id="message" rows="3" placeholder="Comment"></textarea>
                            </div>

                            <div class="field text-right">
                                <label>&nbsp;</label>

                                <ul class="actions">
                                    <li><input type="submit" value="Book now" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
