
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>Offers</h1>

                <div class="image main">
                    <img src="~/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
                </div>

                <!-- Offers -->
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="~/images/other-1-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="~/images/other-2-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="~/images/other-3-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>

                    <article class="style4">
                        <span class="image">
                            <img src="~/images/other-4-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>

                    <article class="style5">
                        <span class="image">
                            <img src="~/images/other-5-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>

                    <article class="style6">
                        <span class="image">
                            <img src="~/images/other-5-720x480.jpg" alt="" />
                        </span>
                        <a href="#footer" class="scrolly">
                            <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                            <p>price from: <strong> $ 140.00</strong> per weekend</p>

                            <div class="content">
                                <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Book now</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Your Name" />
                            </div>

                            <div class="field half">
                                <select name="vehicle-type" id="vehicle-type">
                                    <option value="">Select Offer A</option>
                                    <option value="">Select Offer B</option>
                                    <option value="">Select Offer C</option>
                                    <option value="">Select Offer D</option>
                                </select>
                            </div>

                            <div class="field half">
                                <input type="text" name="date-from" id="date-from" placeholder="Pick-up date/time" />
                            </div>

                            <div class="field half">
                                <input type="text" name="date-to" id="date-to" placeholder="Return date/tiem" />
                            </div>

                            <div class="field half">
                                <input type="text" name="email" id="email" placeholder="Email" />
                            </div>

                            <div class="field half">
                                <input type="text" name="phone" id="phone" placeholder="Phone" />
                            </div>

                            <div class="field">
                                <textarea name="message" id="message" rows="3" placeholder="Comment"></textarea>
                            </div>

                            <div class="field text-right">
                                <label>&nbsp;</label>

                                <ul class="actions">
                                    <li><input type="submit" value="Book now" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>