<!DOCTYPE html>
<html>
<head>
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/meanmenu.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <a href="~/fonts/fontawesome-webfont.eot">~/fonts/fontawesome-webfont.eot</a>
    <img src="~/fonts/fontawesome-webfont.svg" />
    <a href="~/fonts/fontawesome-webfont.ttf">~/fonts/fontawesome-webfont.ttf</a>
    <a href="~/fonts/fontawesome-webfont.woff">~/fonts/fontawesome-webfont.woff</a>
    <a href="~/fonts/fontawesome-webfont.woff2">~/fonts/fontawesome-webfont.woff2</a>
    <a href="~/fonts/FontAwesome.otf">~/fonts/FontAwesome.otf</a>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/popper.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>