<!DOCTYPE html>
<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <a href="~/css/style.css.map"></a>
    <a href="~/fonts/materialdesignicons-webfont.eot"></a>
    <a href="~/fonts/materialdesignicons-webfont.ttf"></a>
    <a href="~/fonts/materialdesignicons-webfont.woff"></a>
    <a href="~/fonts/materialdesignicons-webfont.woff2"></a>
    <a href="~/fonts/Pe-icon-7-stroke.eot"></a>
    <a href="~/fonts/Pe-icon-7-stroke.ttf"></a>
    <a href="~/fonts/Pe-icon-7-stroke.woff"></a>
    <script src="~/js/app.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/counter.init.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/scrollspy.min.js"></script>
    <a href="~/php/contact.php"></a>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>