<!DOCTYPE html>
<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/dscountdown.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/galleryeffect.css" rel="stylesheet" />
    <link href="~/css/jquery.flipster.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.eot"></a>
    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/demo-1.js"></script>
    <script src="~/js/dscountdown.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery.flexisel.js"></script>
    <script src="~/js/jquery.flipster.js"></script>
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/numscroller-1.0.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>