<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <a href="~/assets/bootstrap/css/bootstrap.css.map"></a>
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <a href="~/assets/bootstrap/css/bootstrap.min.css.map"></a>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <a href="~/assets/bootstrap/js/bootstrap.bundle.js.map"></a>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <a href="~/assets/bootstrap/js/bootstrap.bundle.min.js.map"></a>
    <script src="~/assets/bootstrap/js/bootstrap.js"></script>
    <a href="~/assets/bootstrap/js/bootstrap.js.map"></a>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <a href="~/assets/bootstrap/js/bootstrap.min.js.map"></a>
    <a href="~/assets/bootstrap/.DS_Store"></a>
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/noscript.css" rel="stylesheet" />
    <link href="~/assets/css/style_popup.css" rel="stylesheet" />
    <a href="~/assets/fonts/fontawesome-webfont.eot"></a>
    <a href="~/assets/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/assets/fonts/fontawesome-webfont.woff"></a>
    <a href="~/assets/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/assets/fonts/FontAwesome.otf"></a>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="script.js" defer></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <a href="~/assets/.DS_Store"></a>
    <script src="~/assets/js/script.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>