<!DOCTYPE html>
<head>
    @using System.Web.Optimization;
    <link rel="shortcut icon" href="images/favicon.ico" />
    <script src="~/Scripts/script_login.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <link href="~/lib/font-awesome/style.css" rel="stylesheet" />
    <div>
        @RenderBody()
    </div>
</body>