        <!-- Menu -->
<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="http://localhost:44325/" class="logo">
            <span class="fa fa-car"></span> <span class="title">RENT A CAR</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="index.cshtml" class="active">Home</a></li>

        <li><a href="offers.cstml">Offers</a></li>

        <li><a href="fleet.cshtml">Fleet</a></li>

        <li>
            <a href="#" class="dropdown-toggle">About</a>

            <ul>
                <li><a href="about.cshtml">About Us</a></li>
                <li><a href="team.cshtml">Team</a></li>
                <li><a href="blog.cshtml">Blog</a></li>
                <li><a href="testimonials.cshtml">Testimonials</a></li>
                <li><a href="faq.cshtml">FAQ</a></li>
                <li><a href="terms.cshtml">Terms</a></li>
            </ul>
        </li>
        <li><a href="Home/Contact">Contact Us</a></li>
    </ul>
</nav>
