<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="http://localhost:44325/" class="logo">
                <span class="fa fa-car"></span> <span class="title">RENT A CAR</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="http://localhost:44325/" class="active">Home</a></li>

            <li><a href="Home/offers">Offers</a></li>

            <li><a href="Home/fleet">Fleet</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="Home/About">About Us</a></li>
                    <li><a href="Home/Team">Team</a></li>
                    <li><a href="Home/Blog">Blog</a></li>
                    <li><a href="Home/Testimonials">Testimonials</a></li>
                    <li><a href="Home/Faq">FAQ</a></li>
                    <li><a href="Home/Terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="Home/Contact">Contact Us</a></li>
        </ul>
    </nav>
